<div align="center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Clear All Completed Tasks</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Are you sure you want to clear all your previously completed tasks?
    </div>
    <form method="post" id="confirmForm" action="/">
      <div id="centerPlease" align="center">
        <label align="center" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
          <input type="checkbox" value=true id="switch-2" name="deletecompleted" class="mdl-switch__input">
          <span class="mdl-switch__label"></span>
        </label>
      </div>
      <div style="margin-top: 30px;" class="mdl-card__actions mdl-card--border">
        <button id="confirmBack" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Back</button>
      </div>
    </form>
  </div>
</div>
<script>
  $("*").click(function(){
    var checkedBox = document.getElementById('switch-2').checked;
    if (checkedBox) {
      document.getElementById("confirmBack").innerHTML="Confirm";
      document.getElementById("confirmForm").setAttribute('action', "/deletecompleted");
    }
  });
// $(function() {
//   // Run when the document is loaded
//   $('#confirmForm').submit(function(e){
//     e.preventDefault(); // This prevents the form from submitting
//     console.log('Submit!!!!');
//     const confirmId = $('#confirm-id').val();
//     console.log('confirm id:'+confirmId);
//     fetch(`/completed/${confirmId}`, { method: 'post', confirmId: confirmId }).then((success) => {
//       console.log('success message:'+success);
//       document.getElementById("confirmForm").setAttribute('action', "/completed");
//     }).catch((err) => {
//       console.log(err.message);
//     });
//   });
//
//
//
//
//   // $('#confirmBack').click(function(e){
//   //   console.log('Click 1')
//   // });
//   //
//   // $('body').on('click', '#confirmBack', function(e) {
//   //   console.log('Click 2')
//   // });
// });



</script>
<style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fbfbfb;
    height: 176px;
    background: url('https://img-aws.ehowcdn.com/877x500p/cache.gettyimages.com/xc/87740179.jpg?v=1&c=EWSAsset&k=2&d=910C62E22B9F47AA888227E0D34EC0B877DA482AA1A196C532B114B6756E9452') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
</style>
