<div class="container-list">
  {{#each task as |task|}}
    <div class="bullet">
      <div align="left">
          <label for="task-completed">Completed?</label>
          <input type="checkbox" name="completed" class="form-control" id="task-completed">
      </div>

      <div align="center">
          <a href="/tasks/{{task.id}}" class="mdl-data-table__cell--non-numeric">{{task.task}}</a>
      </div>

      <div align="right">
        <p>Due: {{task.dueDate}}</p>
      </div>

    </div>
  {{/each}}
</div>
