<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Now</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <nav class="container-header">
    <a href="/">
      <img src="../images/logo.png" alt="Now" width="110px" height="55px">
    </a>
      <div>
        <a href="/new" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          + New Task
        </a>
<<<<<<< HEAD
      </div> 
  </div>
=======
      </div>
  </nav>
>>>>>>> 9bc50354d357ae1c541f628d09763d56ad7c8747

  <body>
    {{{body}}}


  </body>
  <!-- Latest compiled and minified CSS -->

</html>
