<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Now</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/loading.css' />

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <header>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">

      <div class="mdl-layout__header-row">

        <img src="/images/logo.png" id="logo" width="110px" height="50px">
        <div>
          <a href="/new" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">+  New Task</a>

          </div>
      </div>
      <!-- Tabs -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#ft1" class="mdl-layout__tab">Current Tasks</a>
        <a href="#ft2"  class="mdl-layout__tab">Completed Tasks</a>
        <a href="#ft3"  class="mdl-layout__tab">Stars</a>
      </div>
    </header>
<!--
    <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="ft1">
      <div class="page-content"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="ft2">
      <div class="page-content"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="ft3">
      <div class="page-content"></div>
    </section>
  </main> -->
  </div>
  </header>

  <body>
    <div class="spacer"></div>
    {{{body}}}
    <div class="spacer"></div>


  </body>
  <!-- Latest compiled and minified CSS -->

</html>
<style>
  #centerPlease {
    position: absolute !important;
    left: 46.3% !important;
  }
</style>
