<div align="center">
  <form method="post" action="/authenticate">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <span>
        <input type="text" id="username" name="username" maxlength="12" class="mdl-textfield__input">
        <label class="mdl-textfield__label" for="username">Username</label>
      </span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <span>
        <input type="password" id="password" name="password" minlength="6" class="mdl-textfield__input">
        <label class="mdl-textfield__label" for="password">Password</label>
      </span>
    </div>
  </form>
</div>
