<div align="center">
  <form action="/" method="post">
    <div>
      <div>
        <h3>New Task Form</h3>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <span>
            <input required type="text" name="task" maxlength="50" class="mdl-textfield__input" id="task-task">
            <label class="mdl-textfield__label" for="task-task">Task Name</label>
          </span>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input required class="mdl-textfield__input" name="estimatedTime" type="number" min="1" max="450" pattern="-?[0-9]*(\.[0-9]+)?" id="task-EstimatedTime">
          <label class="mdl-textfield__label" for="task-EstimatedTime">Estimated Time (minutes)</label>
          <span class="mdl-textfield__error">Please input a number between 1 and 450</span>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="task-dueDate">Due Date</label>
          <input type="date" name="dueDate" class="mdl-textfield__input" id="task-dueDate" placeholder="mm/dd/yyyy" min="2018-01-01">
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea required class="mdl-textfield__input" name="objc" maxlength="280" type="text" rows= "3" id="task-objective" ></textarea>
          <label class="mdl-textfield__label" for="task-objective">Learning Objective</label>
          <div class="mdl-tooltip" data-mdl-for="task-objective">What will you learn from completing this task?</div>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input required class="mdl-textfield__input" name="badc" maxlength="100" type="text" id="task-consequence">
          <label class="mdl-textfield__label" for="task-consequence">Bad Consequence</label>
          <div class="mdl-tooltip" data-mdl-for="task-consequence">What is a bad consequence for not completing this task?</div>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input required class="mdl-textfield__input" name="rewar" maxlength="80" type="text" id="task-reward">
          <label class="mdl-textfield__label" for="task-reward">Instant Reward</label>
          <div class="mdl-tooltip" data-mdl-for="task-reward">What is your instant reward from completing this task?</div>
        </div>
      </div>
      <div>
        <div class="text-right">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
