<div align="center">
  <form action="/" method="post">
    <h3>New Task Form</h3>

      <div class="form-group">
        <label for="task-task">Task Name</label>
        <input type="text" name="task" class="form-control" id="task-task" placeholder="Task Name">
      </div>

      <div class="form-group">
        <label for="task-EstimatedTime">Estimated Time (minutes)</label>
        <input type="number" name="estimatedTime" class="form-control" id="task-EstimatedTime" placeholder="Estimated Time">
      </div>

      <div class="form-group">
        <label for="task-dueDate">Due Date</label>
        <input type="date" name="dueDate" class="form-control" id="task-dueDate" placeholder="Due Date">
      </div>

      <div class="form-group">
<<<<<<< HEAD
        <label id ="task-objective">Learning Objective</label>
        <input type="text" name="objective" class="form-control" id="task-objective" placeholder="What will you learn from completing this task?">
=======
        <label for="task-objective">Learning Objective</label>
        <input type="text" name="objc" class="form-control" id="task-objective" placeholder="Objective">
          <div class="mdl-tooltip" data-mdl-for="task-objective">
          </div>
>>>>>>> 9bc50354d357ae1c541f628d09763d56ad7c8747
      </div>
          <div class="mdl-tooltip" data-mdl-for="task-objective">What will you learn from completing this task?
          </div>


      <div class="form-group">
<<<<<<< HEAD
        <label id="task-consequence">Bad Consequence</label>
        <input type="text" name="consequence" class="form-control" id="task-consequence" placeholder="What is a bad consequence from not completing this task?">
=======
        <label for="task-consequence">Bad Consequence</label>
        <input type="text" name="badc" class="form-control" id="task-consequence" placeholder="Consequence">
>>>>>>> 9bc50354d357ae1c541f628d09763d56ad7c8747
      </div>
        <div class="mdl-tooltip" data-mdl-for="task-consequence">What is a bad consequence from not completing this task?
        </div>

      <div class="form-group">
<<<<<<< HEAD
        <label id="task-reward">Instant Reward</label>
        <input type="text" name="reward" class="form-control" id="task-consequence" placeholder="What is your intant reward from completing this task?">
      </div>
      <div class="mdl-tooltip" data-mdl-for="task-reward">What is your instant reward from completing this task?
=======
        <label for="task-reward">Instant Reward</label>
        <input type="text" name="rewar" class="form-control" id="task-consequence" placeholder="Reward">
>>>>>>> 9bc50354d357ae1c541f628d09763d56ad7c8747
      </div>

      <div class="text-right">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
      </div>
  </form>
</div>
