<div align="center">
  <form action="/users" method="post">
    <legend>New User</legend>

    <div>
    <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <span>
        <input type="text" name="username" class="form-control mdl-textfield__input" id="user-username">
        <label class="mdl-textfield__label" for="user-username">Username</label>
      </span>
    </div>
    </div>
    <div>
    <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <span>
        <input type="password" name="password" class="form-control mdl-textfield__input" id="user-password">
        <label class="mdl-textfield__label" for="user-password">Password</label>
      </span>
    </div>
    </div>
    <div>
    <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <span>
        <input type="password" name="confirmPassword" class="form-control mdl-textfield__input" id="user-confirmPassword">
        <label class="mdl-textfield__label" for="user-confirmPassword">Confirm Password</label>
      </span>
    </div>
    </div>
    <div class="text-right">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
    </div>
  </form>
</div>
