.container-header {
 display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #B5B7C8;
  padding: 1.5em;
}
a {
  color: #949CC2 !important;
}
body {
  padding: 0px;
  margin: 0;
  color: #5B5D71;
}

.title {
  font-size: 2em;
}


.mdl-button {
  background-color: #5B5D71 !important;
  color: #D4D6E3 !important;
}
.lg-button {
  padding: 20px 50px;
  font-size: 28px;
  margin: 5px 10px;
}


.mdl-ripple {
  style="width: 103.823px;
  height: 103.823px;
  transform: translate(-50%, -50%) translate(18px, 18px);
}
.mdl-checkbox__box-outline {
  transition-duration: 0.25s;
}
.mdl-checkbox__ripple-container {
  transition-duration: 0.2s;
  opacity: 0.5;

.basealign {
  display: flex;
  align-items: baseline;

}

.boldede {
  font-weight: bold;
  font-size: 18px;
}
.tablediv {
  display: flex;
  justify-content: flex-end;
}

.bullet {
  margin-left: 5em;
  margin-top: 1.5em;
  margin-right: 5em;
  padding: 1.5em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container-list {
  margin-left: 5em;
  margin-top: 1.5em;
  margin-right: 5em;
  padding: 1.5em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container-list {
  margin: 10px 50px;
}
.listItem {
  display: flex;
}
