.mdl-layout__header-row, #navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5B5D71;
  background-color: #B5B7C8;
}
.mdl-layout__tab-panel, .mdl-layout__tab {
  background-color: #D4D6E3 !important;
}
a {
  color: #949CC2 !important;
}
body {
  padding: 0px;
  margin: 0;
  color: #5B5D71;
}
.spacer {
  padding: 75px;
}
.title {
  font-size: 2em;
}
.mdl-layout__obfuscator {
  padding: 0px !important;
  margin: 0px !important;
}
.mdl-spinner {
  margin: 100px;
}
.mdl-button--accent {
  background-color: #5B5D71 !important;
  color: #D4D6E3 !important;
}
.lg-button {
  padding: 20px 50px;
  font-size: 28px;
  margin: 5px 10px;
}


.mdl-ripple {
  style="width: 103.823px;
  height: 103.823px;
  transform: translate(-50%, -50%) translate(18px, 18px);
}
.mdl-checkbox__box-outline {
  transition-duration: 0.25s;
}
.mdl-checkbox__ripple-container {
  transition-duration: 0.2s;
  opacity: 0.5;

.basealign {
  display: flex;
  align-items: baseline;

}

.boldede {
  font-weight: bold;
  font-size: 18px;
}
.tablediv {
  display: flex;
  justify-content: flex-end;
}

.bullet {
  margin-left: 5em;
  margin-right: 5em;
  padding: 1.5em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container-list {
  margin-left: 5em;
  margin-right: 5em;
  padding: 0em 5em 1.5em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container-list {
  margin: 0px 50px 10px 50px;
}
.listItem {
  display: flex;
}
